@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans:ital,wght@0,400;1,300&family=Lexend+Deca:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');


*{
    font-family: 'Merriweather', serif;
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Lexend Deca', sans-serif; */
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 65.2%;
}
